{% extends 'layout.twig' %}

{% block body %}
    <h1 class="text-3xl font-bold text-blue-600">{{ title }}</h1>
    <form action="/lockers" method="POST" class="mt-4">
        <div class="mb-4">
            <label for="lockerNumber" class="block text-gray-700">Numéro de Casier:</label>
            <input type="number" id="lockerNumber" name="lockerNumber" required class="border border-gray-300 rounded p-2 w-full">
        </div>
        <div class="mb-4">
            <label for="lockerSize" class="block text-gray-700">Taille:</label>
            <input type="number" id="lockerSize" name="lockerSize" required class="border border-gray-300 rounded p-2 w-full">
        </div>
        <div class="mb-4">
            <label for="lockerPrice" class="block text-gray-700">Prix:</label>
            <input type="number" id="lockerPrice" name="lockerPrice" required class="border border-gray-300 rounded p-2 w-full">
        </div>
        <button type="submit" class="bg-blue-500 text-white rounded p-2 w-full hover:bg-blue-600">Créer un Casier</button>
    </form>
{% endblock %}
