{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  <h1 class="text-3xl font-bold text-blue-600">Bienvenue sur mon projet Node.js avec Twig !</h1>
{% endblock %}
